symbol@swapper_pg_dir:ffffff800b0c6000;
symbol@stext:ffffff8009ae0000;
symbol@linux_banner:ffffff80092000c8;
symbol@kernel_config_data:ffffff800920d938;
symbol@saved_command_line:ffffff800a4490b8;
symbol@log_first_idx:ffffff800a4508f0;
symbol@log_next_idx:ffffff800a4508f4;
symbol@log_buf:ffffff800a2064b8
ffffff800a47b998;
symbol@__log_align:;
field_offset@struct printk_log@ts_nsec:0;
field_offset@struct printk_log@len:8;
field_offset@struct printk_log@text_len:a;
field_offset@struct printk_log@dict_len:c;
field_offset@struct printk_log@magic:0;
size_of@struct printk_log:10;
size_of@__log_buf:20000;
